body {
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #515ada;
    border-radius: 10px;
    color: #301342;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.wrapper h1 {
    margin: 0 0 20px 0;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.answer-button1,
.answer-button2,
.answer-button3,
.answer-button4,
.answer-button5 {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 40%;
    max-width: 100px;
}

.answer-button1 {
    background-color: #007BFF;
}

.answer-button1:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.answer-button2 {
    background-color: #422041;
    border-radius: 10px;
}

.answer-button2:hover {
    background-color: #9350a0;
    transform: perspective(1.1);
    border: #0abe40;
}

.answer-button3 {
    background-color: #007BFF;
}

.answer-button3:hover {
    background-color: #b300a4;
    transform: matrix3d(1.1);
}

.answer-button4 {
    background-color: #04AA6D;
    border: 1px solid #301342;
    border-radius: 15px;
}

.answer-button4:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.answer-button5 {
    background-color: #9c1770;
    border: 1px solid #301342;
    border-radius: 15px;
}

.answer-button5:hover {
    background-color: #028a54;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .wrapper {
        width: 100%;
    }

    .answer-button1,
    .answer-button2,
    .answer-button3,
    .answer-button4,
    .answer-button5 {
        flex: 1 1 100%;
        max-width: none;
    }
}
